* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
   margin-top: 47px;
   margin-left: 42px;
}

.link-header {
font-size: 14px;
font-weight: 400;
line-height: 21px;
cursor: pointer;
color:#17233D;
text-align: center;
margin-right: 32px;
letter-spacing: 0.876px;
}

.button-header{
   background: #6FBF44;
   border: 1px solid #4CB538;
   border-radius: 6px;
   width: 124px;
   height: 51px;
   border: 1px;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   color: #FFFFFF;
   letter-spacing: 1px;
   cursor: pointer;
}

.logo-imagi {
   margin: 163px 0 0 123px;
   display: inline-block;
}

section {
   display: inline-block;
   margin-left: 85px;
   width: 493px;
}

h1 {
   font-size: 62px;
   font-weight: 700;
   line-height: 82px;
   letter-spacing: 0.596154px;
   color: #161A49;
}

p {
   font-size: 18px;
   font-weight: 400;
   line-height: 33px;
   letter-spacing: 0.5px;
   color: #4B505A;
   margin-top: 553px;
   margin-bottom: 65px;
}

.button-main {
   font-size: 18px;
   font-weight: 500;
   line-height: 27px;
   color: #6FBF44;
   border: none;
   cursor: pointer;
   background: transparent;
}